@media (max-width: 768px) {
  #sk-subTable-bar1,
  #sk-subTable-bar2 {
    display: none;
  }
}

.sk-subtable {
  text-align: left;
  /* position: absolute; */
  top: 68px;
  background-color: white;
  width: auto;
  padding-top: 1em;
}

#skSubtableCharts .sk-chart-separated {
  border-top: 0px;
}
.sk-subnav,
.sk-subheading,
.sk-subdetails {
  margin-left: 16px;
  margin-right: 1em;
}

.sk-subdetails {
  margin-top: 2em;
}

.sk-subheading {
  font-size: 1.25em;
  margin-top: 0.5em;
}

.sk-subheading svg {
  position: relative;
  top: 8px;
}
.sk-subheading .pf-icon {
  margin-right: 0.5em;
}
.sk-breadcrumbs {
  padding: 0.125em 1em;
}

.sk-subtable .pf-c-card.pf-m-hoverable:hover {
  box-shadow: none;
}
.sk-subtable .pf-c-card.pf-m-hoverable {
  box-shadow: none;
}
.sk-subtable .list-card.service-card:hover {
  border-top: 2px solid white;
}
.sk-subtable .list-card.service-card {
  border-top: 2px solid white;
}

.sk-subtable .pf-c-card__body {
  font-size: 1em;
}

.sk-subtable .detail-value {
  padding-left: 0.25em;
}

.sk-subtable .detail-prompt {
  font-weight: 600;
  font-size: 18px;
  padding-right: 0.5em;
  color: #151515;
}

.sk-subtable .details-section {
  margin-bottom: 0.5em;
}

#sk-subTable-bar1,
#sk-subTable-bar2 {
  width: 30em;
}

#sk-subTable-line1,
#sk-subTable-line2 {
  width: 20em;
}

#skModalskAllCharts {
  min-height: 12em;
  max-width: 12em;
}

.sk-subtable-chord-container {
  position: relative;
}

.sk-subtable-chord-container button.sk-topology-expand-button {
  background-color: transparent !important;
}
.sk-expand-page {
  position: absolute;
  top: 0.5em;
  right: 0;
}

#skModalchord {
  text-align: center;
}

#skModalChordChart {
  height: 100%;
}

#skSiteModal .pf-c-modal-box__body {
  padding-top: 0;
  padding-bottom: 0;
}

/*
.table-page .overview-header {
  background-color: white;
  border-bottom: 0px;
}
*/

.sk-charts-sections {
  margin-left: 2em;
}
