.sk-chart-header {
  align-self: center;
  text-align: center;
  font-weight: bold;
  padding-left: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sk-chart-container.sk-chart-separated {
  border-top: 1px solid #eaeaea;
}

.pf-l-split__item {
  padding-right: 0px;
}

/*
.pf-l-split {
   border-bottom: 1px solid #eaeaea;
}
*/

button.selected {
  border-bottom: 2px solid #06c;
}

button svg.sk-icon-chord {
  fill: #666666;
}

button.selected svg {
  fill: #06c;
}

button.rotated svg {
  transform: rotate(-90deg) scale(1, -1);
}

button:focus {
  outline: none;
}

.sk-chart-toolbar {
  background-color: #eaeaea;
  border-bottom: 1px solid #cccccc;
}

.sk-chart-toolbar button {
  padding-bottom: 0;
}

#popover-div {
  pointer-events: none;
}

.sk-chart-legend-container,
.skModalsk-chart-legend-container {
  padding-left: 1em;
  padding-bottom: 1em;
  display: flex;
}

.sk-all-charts-container.chosen {
  border: 2px dashed;
}

.sk-chart-legend-parent {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.sk-full-page,
.sk-collapse {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 202;
  padding: 4px !important;
  margin: 0 !important;
  border: 1px solid #ccc !important;
  width: 2em !important;
}

.sk-expand-charts {
  padding-top: 2em;
}

.sk-expand-charts button {
  padding-right: 0;
  padding-left: 0;
}
.sk-expand-charts button * {
  cursor: pointer;
}

#skChartsKebob {
  padding: 10px 8px;
  display: inline-block;
}

#skChartMatch > span {
  margin-right: 0.5em;
  position: relative;
  top: 0.5em;
}

.sk-chart-service-section {
  margin-top: 1em;
}

#skChartServiceList {
  max-height: 12em;
  overflow-y: auto;
}
