.pf-c-toolbar {
  --pf-c-toolbar--RowGap: 0; /*var(--pf-global--spacer--lg); */
  --pf-c-toolbar--PaddingTop: 0; /*var(--pf-global--spacer--lg); */
  --pf-c-toolbar--PaddingBottom: 0; /*var(--pf-global--spacer--lg); */
}

.sk-dropdown-prompt {
  font-size: 18px;
  /* padding-left: 2em; */
  /* margin-top: 0.125em; */
}

.graph-toolbar {
  /* border-bottom: 1px solid #cccccc; */
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  /* padding-left: 1em; */
}

.graph-toolbar .tall-item {
  /*border-right: 1px solid black;*/
  margin-right: 1em;
}

.graph-toolbar .sk-toolbar-filter {
  padding-left: 0.5em;
}

.graph-toolbar .sk-toolbar-filter-input {
  min-width: 8em;
}
.graph-toolbar * {
  white-space: nowrap;
}

#skToolbarHighlight span {
  position: relative;
  top: 0.4em;
  margin-left: 1em;
}

.sk-inline {
  display: inline-flex;
  border-right: 1px solid;
}
.sk-inline svg {
  /* position: relative; */
  top: 4px;
  color: #06c;
  cursor: pointer;
}
.sk-inline .pf-c-check {
  margin-right: 0.5em;
}

.sk-traffic-checkbox {
  margin-left: 2.25em;
}

#skTrafficMetrics {
  border-top: 1px solid #eaeaea;
  padding-top: 1em;
  display: flex;
}

#skTrafficMetrics .pf-c-check {
  margin-left: 2.25em;
}
#skTrafficMetrics .pf-c-radio {
  margin-left: 0.5em;
}

.sk-flex {
  display: flex;
}
#skTrafficModal .pf-c-modal-box__body {
  padding-bottom: 1em;
  border-bottom: 1px solid #eaeaea;
}

.graph-toolbar .pf-c-overflow-menu__content:not(:last-of-type) {
  padding-right: 1em;
  border-right: 1px solid #ccc;
}

.pf-c-overflow-menu__content {
  height: 2.2em;
  margin-right: 0;
}

.graph-toolbar .hasButton {
  padding-right: 0 !important;
}

.graph-toolbar .hasButton svg {
  padding-left: 4px;
  padding-top: 4px;
  cursor: pointer;
}

#skTrafficDiagrams {
  height: 240px;
}
