.sk-drawer-content {
  overflow: hidden;
}

#sk-topology-expand-fixed {
  position: absolute;
  right: 0px;
  top: 68px;
  z-index: 201;
  height: calc(100% - 68px);
  background-color: #eaeaea;
  border-left: 1px solid #ccc;
  width: 2em;
}

button.sk-topology-expand-button {
  background-color: #eaeaea !important;
  width: 1em;
  padding: 0.125em;
  margin: 6px 10px 0px 8px;
}

button.sk-topology-expand-button * {
  color: black;
}

/*
.sk-topology-show-charts {
  padding-right: 0.5em;
}
*/

.sk-topology-legend-container {
  text-align: center;
  margin: auto;
  /* display: flex; */
}

.sk-topology-legend-container:after {
  content: "";
  display: table;
  clear: both;
}

.sk-topology-legend-color {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 0.25em;
  position: relative;
  top: 5px;
  border: 1px solid;
}

.sk-topology-legend-line {
  padding: 0 1em 0.25em 0;
  float: left;
}

#sk-drawer-panel-content {
  height: calc(100vh - 67px);
  overflow: hidden;
  position: absolute;
  top: 67px;
  right: 0;
  display: block;
  transform: translate(0);
}

#sk-drawer-panel-content.pf-m-width-25 {
  width: 25%;
}

#sk-drawer-panel-content.pf-m-width-100 {
  width: calc(100% - 160px);
}

#skAllCharts {
  /* height: 100%; */
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
}
